<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ScVideoMapper">
    <insert id="addScVideo" parameterType="DataMap">
        INSERT INTO SC_VIDEO (VIDEO_ID, USER_ID, URL, CREATETIME, VIEWCOUNT, TITLE, SUMMARY, ISVAL, SCHOOL_ID) VALUES(#{VIDEO_ID}, #{USER_ID}, #{URL}, #{CREATETIME}, #{VIEWCOUNT}, #{TITLE}, #{SUMMARY}, false, #{SCHOOL_ID})
    </insert>
    <select id="getVideos" parameterType="Page" resultType="DataMap">
        SELECT * FROM SC_VIDEO WHERE USER_ID = #{params.USER_ID} ORDER BY CREATETIME DESC
    </select>
    <select id="getVideoById" parameterType="DataMap" resultType="DataMap">
        SELECT * FROM SC_VIDEO WHERE VIDEO_ID = #{VIDEO_ID}
    </select>

    <update id="editVideo" parameterType="DataMap">
        UPDATE SC_VIDEO SET TITLE = #{TITLE}, SUMMARY = #{SUMMARY} WHERE VIDEO_ID = #{VIDEO_ID}
    </update>

    <delete id="removeVideos" parameterType="java.util.List">
        DELETE FROM SC_VIDEO WHERE VIDEO_ID IN <foreach collection="list" open="(" separator="," close=")" item="item">#{item}</foreach>
    </delete>
    <select id="getVideosByScId" parameterType="DataMap" resultType="DataMap">
        SELECT * FROM SC_VIDEO WHERE SCHOOL_ID = #{SCHOOL_ID}
    </select>
</mapper>