<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ItemBuyMapper">
    <!-- 购买商品 -->
    <insert id="addItemBuy" parameterType="DataMap">
        INSERT INTO ITEM_BUY
        (BUY_ID, USER_ID, ITEM_ID, CREATETIME)
        VALUES
        (#{BUY_ID}, #{USER_ID}, #{ITEM_ID}, #{CREATETIME})
    </insert>

    <!-- 选取购买信息 -->
    <select id="getItemBuyByUserId" parameterType="DataMap" resultType="DataMap">
        SELECT buy.*, item.* FROM ITEM_BUY buy, ITEM_ITEM item WHERE buy.USER_ID = #{USER_ID} AND buy.ITEM_ID = item.ITEM_ID
    </select>

    <!-- 选取还未使用的物品 -->
    <select id="getItemBuyInNoUseByUserId" parameterType="DataMap" resultType="DataMap">
        SELECT buy.*, item.* FROM ITEM_BUY buy, ITEM_ITEM item
        WHERE
        buy.USER_ID = #{USER_ID}
        AND buy.ITEM_ID = item.ITEM_ID
        AND buy.ISVALIABLE = true
    </select>
    
    <!-- 选取已使用的物品 -->
    <select id="getItemBuyInUsedByUserId" parameterType="DataMap" resultType="DataMap">
        SELECT buy.*, item.* FROM ITEM_BUY buy, ITEM_ITEM item
        WHERE
        buy.USER_ID = #{USER_ID}
        AND buy.ITEM_ID = item.ITEM_ID
        AND buy.ISVALIABLE = false
    </select>

    <!-- 使用物品 -->
    <update id="useItem" parameterType="DataMap">
        UPDATE ITEM_BUY SET ISVALIABLE = true WHERE USER_ID = #{USER_ID} AND ITEM_ID = #{ITEM_ID}
    </update>

    <select id="getItemCountByType" parameterType="DataMap" resultType="java.lang.Integer">
        SELECT COUNT(0) FROM ITEM_BUY buy, ITEM_ITEM item WHERE buy.USER_ID = #{USER_ID} AND ISVALIABLE = true AND buy.ITEM_ID = item.ITEM_ID AND item.ITEMTYPE = #{ITEMTYPE}
    </select>

    <select id="getBuyRecs" parameterType="Page" resultType="DataMap">
        SELECT buy.*, item.NAME, item.PRICE FROM ITEM_BUY buy, ITEM_ITEM item WHERE buy.USER_ID = #{params.USER_ID} AND buy.ITEM_ID = item.ITEM_ID ORDER BY buy.CREATETIME DESC
    </select>
</mapper>