<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ScpropertyMapper">

    <select id="getScpropertyByScId" parameterType="DataMap" resultType="DataMap">
        SELECT
        property.SCPROPERTY_ID,
        property.SCHOOL_ID,
        property.DIC_ID,
        dic.NAME
        FROM SC_SCPROPERTY property
        LEFT JOIN SYS_DICTIONARIES dic ON dic.DIC_ID = property.DIC_ID
        WHERE property.SCHOOL_ID = #{SCHOOL_ID}
    </select>
    <insert id="addScproperty" parameterType="DataMap">
        INSERT INTO SC_SCPROPERTY
        (SCPROPERTY_ID, SCHOOL_ID, DIC_ID)
        VALUES (#{SCPROPERTY_ID}, #{SCHOOL_ID}, #{DIC_ID})
    </insert>
    <delete id="removeScpropertysByScId" parameterType="DataMap">
        DELETE FROM SC_SCPROPERTY WHERE SCHOOL_ID = #{SCHOOL_ID}
    </delete>
</mapper>