<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ScStoreupMapper">


    <!-- 收藏院校 -->
    <insert id="addScStoreup" parameterType="DataMap">
        insert into SC_STOREUP (STOREUP_ID, USER_ID, SCHOOL_ID, CREATETIME) VALUES(#{STOREUP_ID}, #{USER_ID}, #{SCHOOL_ID}, #{CREATETIME})
    </insert>
    
    <select id="getScStoreUpByUserId" parameterType="DataMap" resultType="DataMap">
        SELECT * FROM SC_STOREUP WHERE USER_ID = #{USER_ID}
    </select>
    
    <select id="getScStoreUpByScId" parameterType="DataMap" resultType="DataMap">
        SELECT * FROM SC_STOREUP WHERE SCHOOL_ID = #{SCHOOL_ID}
    </select>
    
    <select id="getScStoreUpCountByScId" parameterType="DataMap" resultType="java.lang.Integer">
        SELECT COUNT(0) FROM SC_STOREUP WHERE SCHOOL_ID = #{SCHOOL_ID}
    </select>

    <select id="getScStoreUpByScIdAndUserId" parameterType="DataMap" resultType="java.lang.Boolean">
        SELECT COUNT(0) > 0 FROM SC_STOREUP WHERE SCHOOL_ID = #{SCHOOL_ID} AND USER_ID = #{USER_ID}
    </select>
</mapper>